$primary-color: #222222;
$secondary-color: #8A899A;
$accent-color: #6964AD;

$bg-color: #F0ECE5;
$placeholder-color: #757575;
$bg-button-common: #B6BBC4;
$bg-button-hover: #8A899A;
$border-color: #3F403F;

$success: #569D64;
$semi-success: #569D6466;
$edit: #CF810F;
$semi-edit: #CF810F66;
$fail: #BF4D4D;
$semi-fail: #BF4D4D66;