$primary-color: #222222;
$secondary-color: #8A899A;
$accent-color: #6964AD;

$bg-color: #F0ECE5;
$placeholder-color: #757575;
$bg-button-common: #B6BBC4;
$bg-button-success: #569D64;
$border-color: #3F3A40;

$temp-color: #DA8836;