@import '../../utils/colors';

// todo: finish styling

.NewTaskForm {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .InputGrid {
    width: 100%;
    height: 180px;
    display: grid;
    grid-template-columns: 200px 360px;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 10px;
    grid-column-gap: 12px;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: $bg-color;
    border-radius: 10px;
    border: 2px solid $border-color;

    input, textarea {
      line-height: 18px;
      background: transparent;
      border: none;
      resize: none;
      border-bottom: 1px solid #3F3A40;
    }

    .Input-Name {
      height: 40px;
    }

    .Input-Description {
      height: 40px;
    }

    .Input-Description::placeholder {
      // todo: mb find another way to center vertically
      transform: translateY(10px);
    }

    .Input-Tag {
      height: 40px;
    }

    .Tags {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
      max-height: 100%;
      overflow-y: auto;
    }

    p {
      color: $primary-color;
    }
    .Input-Deadline {
      max-width: 180px;
    }
  }

  button {
    margin-top: 5px;
    width: 600px;
    height: 50px;
    background: $bg-button-common;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    &:hover {
      background: $success;
    }
  }
}