@import '~normalize-scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './utils/colors';
$base-font-family: Montserrat, 'sans-serif';

* {
  margin: 0;
  font-family: $base-font-family;
  color: $primary-color;
}

p, input, textarea, button {
  font-size: 18px;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

html {
  background: $primary-color;
}